@model List<Student>
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{
    foreach (var item in Model)
    {
        <p>@item.Id</p>
        <p>@item.Name</p>
        <p>@item.Hp</p>
    }
}


