@model List<EmptyViewImports.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    foreach (var item in Model)
    {
        <p>@item.Id</p>
        <p>@item.Name</p>
        <p>@item.Hp</p>
    }
}
