<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header style="background-color:yellow">
            <h1>Header</h1>
        </header>
        
        @RenderBody()
        
        <footer style="background-color:red">
            <h1>footer</h1>
        </footer>
    </div>
</body>
</html>
