@page
<h2>두 문자열을 넣어주세요.</h2>

<form method="post" action="/Home/Result">
    <label for="str1">문자열 1:</label>
    <input type="text" id="str1" name="str1" value="ABC" required />
    <br />
    <label for="str2">문자열 2:</label>
    <input type="text" id="str2" name="str2" value="DEF" required />
    <br />
    <input type="submit" value="계산" />
</form>
