@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div class="row">
        <div class="col-sm-4">

            <div asp-validation-summary="All" style="color:red"></div>

            <form method="post" asp-controller="Home" 
                                    asp-action="Index">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="이름을 넣어주세요."/>
                <span asp-validation-for="Name" style="color:red"></span>
                <br />
                <input asp-for="Email" class="form-control" placeholder="이메일을 넣어주세요." />
                <span asp-validation-for="Email" style="color:red"></span>
                <br />                
                <input asp-for="Age" class="form-control" placeholder="나이를 넣어주세요." />
                <span asp-validation-for="Age" style="color:red"></span>
                <br />
                <input asp-for="Password" class="form-control" placeholder="패스워드를 작성해주세요." />
                <span asp-validation-for="Password" style="color:red"></span>
                <br />
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="확인 패스워드를 작성하세요." />
                <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                <br />
                <input asp-for="Hp" class="form-control" placeholder="전화번호를 넣어주세요." />
                <span asp-validation-for="Hp" style="color:red"></span>
                <br />
                <input asp-for="WebsiteURL" class="form-control" placeholder="URL을 넣어주세요." />
                <span asp-validation-for="WebsiteURL" style="color:red"></span>
                <br />
                <input type="submit" value="Submit"
                       class="btn btn-outline-primary" />
            </form>
        </div>
    </div>
</div>



