@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@* <h3>@ViewBag.Data</h3> *@

<h3>@accessor.HttpContext.Session.GetString("YourSessionKey")</h3>

<h4>@TempData["SessionID"]</h4>